$blue : #112d93;

$blue2 : #011d85;

$gray: #454545;

$orange: #e76d1c;

$lightgray: #f9f9f9;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    color: #454545;

    a{
       color: #454545;
       text-decoration: underline;
       
       &:hover{
           color: #777676;
       }
    }
}

p{
    line-height: 1.8em;
    letter-spacing: 0.05em;
}


/* ----------- header ----------- */

header {
    width: 100%;
    top: 0;
    z-index: 1;
    background-color : #fff;
    text-align: center;
    position: relative;
    
}

.headerColor-default{
    background-color: $blue;
}

.header_logo{

    text-align: center;

    .title{
        font-family: 'Archivo Narrow';
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 0.1em;
        opacity: 1;
        color: $blue;
    }

    .text {
        font-family: 'Open Sans';
        font-size: 21px;
        font-style: italic;
        letter-spacing: 0.1em;
        opacity: 0.8;
        color: $blue;
    }
}

.language {
    margin-top: -10px;
    width: 100%;
    height: 29px;
    text-align: right;
    font-size: 12px;
    margin: 0;
    background-color: #f1f1f1;

    li{
        display: inline-block;
        margin-left: -10px;
    }

    a {
        text-decoration: none;
        padding: 10px;
        color: #f1f1f1;
        background-color: #011d85;
        font-family: ヒラギノ角ゴ Pro;
        letter-spacing: 0.3em;

        &:hover{
            color: #fff;
        }
    }

    .twitter{

        box-sizing: border-box;

        a{
            background-color: #f1f1f1;
            color: #011d85;
            font-size: 18px;
        }

    }


    
}

.header {
    background: #fff;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

nav {
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 0;
    display: flex;
    color: $blue;
    height: 72px;

    @media screen and (max-width:700px){
        padding-top: 10px;
    }
}



.logo {
    font-family: 'Archivo Narrow';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 1.6em;
    text-align: center;
    margin-right: auto;
    margin-left: 50px;

    @media screen and (max-width:950px){
        margin-left: 10px;
        margin-top: 2px;
    }

    a{
        color: $blue;
        text-decoration: none;

        &:hover{
            color: $blue;
        }
    }
}

#nav {
    list-style: none;
    display: flex;
    font-size: 14px;
    font-family: Lato;
    letter-spacing: 0.1em;
    margin-top: 15px;
    margin-right: 50px;

    @media screen and (max-width:950px){
        margin-right: 10px;
    }

    @media screen and (max-width:910px){
        font-size: 12px;
    }

    @media screen and (max-width:700px){
        display: none;
    }


    li{
        padding-left: 43px;

        @media screen and (max-width:910px){
            padding-left: 20px;
        }

        a{
            text-decoration: none;
            color: $blue;
            
            
            &:hover{
             color: #c7c7c7;
             transition: 0.8s;
            }
        }

        ul{

            li{
                display: none;
            }
            
        }
    }
}

/* ----------- spnavi -----------*/

.sp_navi{
    @media screen and (min-width:700px){
        display: none;
    }

    padding-right: 20px;
    padding-top: 10px;
    font-size: 30px;
}

.sp_navi_li{
    width: 100%;
    position: absolute;
    top:50px;
    right:0%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display:none;
    z-index: 100; //追記
  
    li{
  
      list-style: none;
      margin: 0;
      padding:0;
  
      a{
        display: block;
        padding: 30px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
        color: $blue;
      }
    }
  }



/* ----------- cover ----------- */

.cover {
    width:100%;
    height:500px;
    background: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;

    @media screen and (max-width:700px){
        margin-top: -5px;
        height: 82vh;
    }

}

.inner {
    width: 100%;
    height: 324px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.covertitle {

    width: 960px;
    color: #fff;
    margin: auto 0;




    .title{
        font-family: 'Archivo Narrow';
        font-size: 3em;
        font-weight: 200;
        letter-spacing: 0.15em;
        opacity: 1;

        @media screen and (max-width:401px){
            line-height: 1em;
        }
    }

    .text {
        font-family: 'Open Sans';
        font-size: 1em;
        font-style: italic;
        letter-spacing: 0.1em;
        opacity: 1;

        @media screen and (max-width:401px){
            padding-top: 20px;
        }
    }
}

/* ----------- main ----------- */

main {
    padding-top: 0px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* ----------- bio ----------- */

#bio{
    margin-top: -150px;
    padding-top: 150px;

    @media screen and (max-width:700px){
        margin-top: -90px;
        padding-top: 90px;
    }
}

.bio{
    margin-top: 80px; 
    width: 100%;
    background-color: #f0f0f0;
}

.content{
    max-width: 940px;
    height: auto;
    margin: 0 auto;

    @media screen and (max-width:700px){
        margin: 0 10px;
    }


    .text {
        font-family: 'Open Sans';
        font-size: 21px;
        font-style: italic;
        letter-spacing: 0.1em;
        opacity: 0.8;
        color: $blue;
    }

    h1{
        padding-top: 0px;
        color: $orange;
        font-weight: 200;
    }

    h2{
        font-size: 21px;
        color: $blue;
        padding-top: 60px;
        padding-bottom: 30px;
    }

}

.col {
    padding-top: 15px;
    display: flex;
    flex-direction: row;

    @media (max-width:500px){
        flex-direction: column;
        margin: 0 auto;
    }
}

.picture {
    width: 430px;
    height: 320px;
    background-color: gray;
    background-size: cover;
    background-image: url('../img/sameicon7.png');

    @media screen and (max-width:835px){
        width: 400px;
        height: 350px;
    }

    @media screen and (max-width:712px){
        width: 300px;
        height: 250px;
    }

    @media screen and (max-width:629px){
        width:100%;

    }

    @media screen and (max-width:500px){
        height: 300px;
    }


}

.information{
    padding-left: 40px;

    @media (max-width:500px){
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 40px;
    }

    h3{
        font-size: 25px;
        color: $blue;
        font-weight: 400;
        margin-top: -7px;
    }

    h4{
        font-size: 18px;
        color: $blue;
        font-weight: 400;
        padding-top: 10px;
    }

    p{
        font-size: 18px;
        padding-top: 29px;
    }


    h5{
        padding-top: 30px;
        font-size: 18px;
        font-weight: 400;
    }

    a{
        color: $gray;
    }

}

.bio2{
    width: 100%;
    padding: 80px 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;

    h5{
        padding-top: 30px;
        font-size: 18px;
        font-weight: 400;

        a{
            color: $gray;
            text-decoration: underline;

            &:hover{
                color: #777676;
            }
        }
    }
}

span{
    font-size: 36px;
    color: $orange;
    font-weight: 200;
    display: block;
    padding-bottom: 30px;
}

/* ----------- research ----------- */

#research{
    margin-top: -150px;
    padding-top: 150px;

    @media screen and (max-width:700px){
        margin-top: -80px;
        padding-top: 80px;
    }

}

.research_interest{
    width: 100%;
    height: auto;
    background-color: $lightgray;
    background-image: url("../img/research.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-bottom: 100px;

    @media screen and (max-width:700px){
        background-image: url(../img/research_sp.jpg);
    }

}

.research_topics{
    width: 100%;
    height: auto;
    background-color: #efefef;
    background-image: url("../img/research2.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 120px;

    @media screen and (max-width:700px){
        background-image: url(../img/research2_sp.jpg); 
    }

}

.topic{
    padding-top: 60px;
    color: $orange;
    font-weight: 200;
    font-size: 36px;
}

/* ----------- current project ----------- */

.current {
    padding: 120px 0;
}

/* ----------- publication ----------- */

#publication2{
    margin-top: -150px;
    padding-top: 150px;

    @media screen and (max-width:700px){
        margin-top: -80px;
        padding-top: 80px;
    }
}

.publication{
    width: 100%;
    background-color: $lightgray;
    background-image: url("../img/publication.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 120px;
    margin-top: 100px;
}

.publication_h1{
    margin-bottom: 60px;
}

.list {
    margin-bottom: 30px;
    width: 100%;
    background-color: #fff;

    a{
        text-decoration: none;
    }

    .publication_title{
        font-size: 21px;
        font-weight: 400;
        padding: 10px;
        
    }

    h6{
        font-size: 18px;
        font-weight: 400;
        padding: 10px;
    }
}





/* ----------- people ----------- */

#people{
    margin-top: -130px;
    padding-top: 130px;

    @media screen and (max-width:700px){
        margin-top: -80px;
        padding-top: 80px;
    }
}

.people{
    width: 100%;
    padding-bottom: 220px;
    margin-top: 100px;       
    }


.section{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:780px){
        justify-content: center;
        flex-wrap: wrap;
    }
}

.people_box{
    padding-top: 70px;
    padding-right: 20px;
    text-align: center;

    @media screen and (max-width:780px){
        flex-wrap: wrap;
    }
}

.sameicon{
    width:220px;
    height: 220px;
    border-radius: 20px;
    background-image: url(../img/sameicon.png);
    background-size: cover;
}

.kumaicon{
    width:220px;
    height: 220px;
    border-radius: 20px;
    background-image: url();
    background-size: cover;
    background-color: #bbbbbb;
}

.ayaicon{
    width:220px;
    height: 220px;
    border-radius: 20px;
    background-image: url(../img/suzuicon.jpg);
    background-size: cover;
}

.ppl{
    color: $blue;
    font-size: 18px;
    padding-top: 15px;
    margin: 0;
}

.posi{
    color: $blue;
    font-size: 15px;
    font-weight: 200;
    padding-top: 3px;
    margin: 0;
}

/* ----------- news ----------- */

#news{
    margin-top: -150px;
    padding-top: 150px;

    @media screen and (max-width:700px){
        margin-top: -80px;
        padding-top: 80px;
    }
}

.news{
    width: 100%;
    padding-bottom: 150px;
    background: #f7f7f7;
}

.news_box{
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    justify-content: flex-end;

    @media screen and (max-width:640px){
        flex-wrap: wrap;
        justify-content: center;
    }
}

.news_img{
    width: 180px;
    height: 180px;
    background-color: #bbbbbb;

    @media screen and (max-width:953px){
        width: 100px;
        height: 100px;
    }

    @media screen and (max-width:640px){
        width: 200px;
        height: 200px;
    }
}

.news_info{
    width: 80%;
    padding-left: 20px;

    @media screen and (max-width:550px){
        padding-left:0;
    }
}

.newstitle{
    padding-bottom: 60px;
}

.news_title{
    color: $blue;
    font-weight: bold;
}

.news_description{
    margin-top: 10px;
}

/* ----------- get ----------- */

#get{
    margin-top: -260px;
    padding-top: 260px;

    @media screen and (max-width:700px){
        margin-top: -190px;
        padding-top: 190px;
    }
}

.get{

    width: 100%;
    background-image: url(../img/get_involved.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 63px 0;

    .content_getinvolved{
        width: 960px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 50px;

        @media screen and (max-width:1024px){
            width: 90vw;
        }
    }

    h1{
        color: $orange;
        font-weight: 200;
        margin-top: -50px;
    }

    p{
        padding-top: 40px;
    }


}


/* ----------- contact ----------- */

#contact{
    margin-top: -130px;
    padding-top: 130px;

    @media screen and (max-width:700px){
        margin-top: -80px;
        padding-top: 80px;
    }
}

.contact{
    width: 100%;
    margin-top: 95px;
}

.contact_wrapper{
    display: flex;
    padding-top: 45px;

    @media screen and (max-width:780px){
        flex-wrap: wrap;
    }
}

.form{
    width: 50%;
    padding-right: 100px;

    @media screen and (max-width:780px){
        width: 100vw;
        padding-right: 0;
    }
}

.contactinfo{
    width: 50%;

    @media screen and (max-width:780px){
        width: 100vw;
        padding-top: 60px;
    }
}

.contacttitle{
    color: $blue;
    font-weight: bold;
}

.contactdescription{
    padding-bottom: 59px;
}

label{
    font-size: 16px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #636363;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #707070;
  }
  
  .container {

    padding-top: 30px;
  }

  iframe{
      padding-top: 100px;
  }


/* ----------- footer ----------- */

footer {
    background-color: $blue;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    font-size: 16px;

    @media screen and (max-width:400px){
        font-size: 14px;

        img{
            width: 50px;
        }
    }


    a{
        color: #fff;
        text-decoration: none;

        &:hover{
            color: #fff
        }
    }

}

.tamagawa_link{
    margin-top: 8px;
    margin-left: 5px;

    @media screen and (max-width:400px){
        margin-top: 0px;
        margin-left: 5px;
    }
}